<!doctype html>
<html lang="en">
{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IDEA HOMES </title>
    <!-- !important css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/master.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/color.css' %}">
    <link rel="shortcut icon" href="{% static 'images/short_icon.png' %}">


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Search form</title>
</head>

<body>
    <!-- LISTING STYLE - 2 -->
    <section class="property-query-area property-page-bg padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 bottom40">
                    <h2 class="text-uppercase">General <span class="color_red">Search</span></h2>
                    <div class="line_1"></div>
                    <div class="line_2"></div>
                    <div class="line_3"></div>
                </div>
            </div>
            <div class="row">
                <!-- General Search box -->
                <form class="findus" id="SearchForm">
                    {% csrf_token %}
                    <div class="col-md-3 col-sm-3">
                        <!-- Here the user will type the query -->
                        <div class="single-query form-group">
                            <label>Keyword</label>
                            <input class="keyword-input" placeholder="Any" required type="text" id="query">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <!-- Here the user will select the locations -->
                        <div class="single-query form-group">
                            <label>Location</label>
                            <select class="selectpicker" data-live-search="true" id="LocationQuery">
                                <option>Bangalore</option>
                                <option>Mumbai</option>
                                <option>Delhi</option>
                                <option>Punjab</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="single-query form-group">
                            <!-- Here the user will select the property type -->
                            <label>Property Type</label>
                            <select class="selectpicker" data-live-search="true" id="PropertyTypeQuery">
                                <option>Residential</option>
                                <option>Commercial</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12 text-right">
                        <!-- Search button -->
                        <div class="query-submit-button top10">
                            <input class="btn_fill" value="Search" type="submit">
                        </div>
                    </div>
                </form>
                <div class="row" id="PropertyContainer">
                    <!-- In this container all the matched properties will get appeared -->
                </div>
            </div>
        </div>
        
    </section>
    <!--LISTING STYLE- 2 -->
    <!-- PROPERTY LISTING -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

</body>
<!-- Custom javascript for making an API request -->
<script src="{% static 'js/index.js' %}"></script>

<!-- !important js files -->
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootsnav.js' %}"></script>

<!--Bootstrap Dropdown used for dropdwon in General search-->
<script src="{% static 'js/bootstrap-select.js' %}"></script>
</html>