{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>SEARCH HOMES INDIA| LISTING </title>
<link rel="stylesheet" type="text/css" href="{% static 'css/master.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/color.css' %}">
<link rel="shortcut icon" href="{% static 'images/1.png' %}">
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>

<!-- LOADER -->
<div class="loader">
    <div class="cssload-thecube">
      <div class="cssload-cube cssload-c1"></div>
      <div class="cssload-cube cssload-c2"></div>
      <div class="cssload-cube cssload-c4"></div>
      <div class="cssload-cube cssload-c3"></div>
    </div>
</div>
<!-- LOADER -->

<!--===== BACK TO TOP =====-->
<div class="short-msg">
  <a href="#." class="back-to"><i class="icon-arrow-up2"></i></a>
  <a href="#." class="short-topup" data-toggle="modal" data-target="#myModal"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
</div>
<!--===== #/BACK TO TOP =====-->


<!--===== HEADER =====-->
<header id="main_header">

  <!--===== HEADER TOP =====-->
  <div id="header-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <p class="p-font-15 p-white">We are Best in Town With 10 years of Experience.</p>
        </div>
       
      </div>
    </div>
  </div>
  <!--===== #/HEADER TOP =====--> 

  <!--===== HEADER BOTTOM =====-->
  <div id="header-bottom">
    <div class="container">
      <div class="row">
        
        <div class="col-md-10 col-sm-12 col-xs-12">
          <div class="get-tuch text-left top20">
            <i class="icon-telephone114"></i>
            <ul>
              <li>
                <h4>Phone Number</h4>
              </li>
              <li>
                <p>+1 900 234 567 - 68</p>
              </li>
            </ul>
          </div>
          <div class="get-tech-line top20"><img src="images/get-tuch-line.png" alt="line"/></div>
          <div class="get-tuch text-left">
            <i class="icon-alarmclock"></i>
            <ul>
              <li><h4>10:00 AM - 8:00 PM </h4></li>
              <li><p class="p_14">Monday to Sunday</p></li>
            </ul>
          </div>
          <div class="get-tech-line top20"><img src="images/get-tuch-line.png" alt="line"/></div>
          <div class="get-tuch text-left top20">
            <i class=" icon-icons142"></i>
            <ul>
              <li>
                <h4>Email Address</h4>
              </li>
              <li>
                <p><a href="#">info@searhhomesindia.com</a></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== #/HEADER BOTTOM =====--> 

  <!--===== NAV-BAR =====-->
  <nav class="navbar navbar-default navbar-sticky bootsnav">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="social-icons text-right">
            <ul class="socials">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            </ul>
          </div>
          <!-- Start Header Navigation -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
            <i class="fa fa-bars"></i></button>
            <a class="navbar-brand sticky_logo" href="index.html"><img src="images/1.png" class="logo" alt=""></a>
          </div>
          <!-- End Header Navigation --> 
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav" data-in="fadeInDown" data-out="fadeOutUp">
              <li class="dropdown">
                <a href="index.html" >Home</a>
              
              </li>
              
              <li class="dropdown active">
                <a href="about-2.html">About Us</a>
              
              </li>
              
              <li class="dropdown">
                <a href="#." class="dropdown-toggle" data-toggle="dropdown">Properties</a>
                <ul class="dropdown-menu">
                  <li class="dropdown">
                    <a href="#." class="dropdown-toggle" data-toggle="dropdown" >Property Listing</a>
                    <ul class="dropdown-menu">
                      <li><a href="listing-1.html">Property Listing</a></li>
                   
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#." class="dropdown-toggle" data-toggle="dropdown" >Property Details</a>
                    <ul class="dropdown-menu">
                      <li><a href="property-details-1.html">Property Details</a></li>
                     
                    </ul>
                  </li>
                 
                </ul>
              </li>
              
              <li class="dropdown">
                <!--   -->
                <ul class="dropdown-menu">
                  
                </ul>
              </li>
              
             
              <li class="dropdown">
                <a href="#." class="dropdown-toggle" data-toggle="dropdown" >Pages</a>
                <ul class="dropdown-menu">
                  
                  <li class="dropdown">
                    <a href="gallery-1.html" class="dropdown-toggle" data-toggle="dropdown" >Galleries</a>
                    <ul class="dropdown-menu">
                      <!-- <li><a href="gallery-1.html">Gallery V - 1</a></li> -->
                      <!-- <li><a href="gallery-2.html">Gallery V - 2</a></li>
                      <li><a href="gallery-3.html">Gallery V - 3</a></li>
                      <li><a href="gallery-4.html">Gallery V - 4</a></li> -->
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="news-2.html" class="dropdown-toggle" data-toggle="dropdown" >Our Blogs</a>
                   
                  </li>
                  
                  <li class="dropdown">
                    <a href="faq-1.html" class="dropdown-toggle" data-toggle="dropdown" >FAQ's</a>
                   
                  </li>
                
                  
                  
                  <li><a href="testimonials.html">Testimonial</a></li>
                  <li><a href="term&condition.html">Terms & Conditions</a></li>
                  <li><a href="auto-loan-calculator.html">Loan Calculate</a></li>
                </ul>
              </li>
              
              <li class="dropdown megamenu-fw">
                <a href="#." class="dropdown-toggle" data-toggle="dropdown">EXCLUSIVE PROPERTIES</a>
                <ul class="dropdown-menu megamenu-content" role="menu">
                  <li>
                   <div class="row">
                      <div class="col-menu col-md-2">
                        <h5 class="title">Showcase List</h5>
                        <div class="content">
                          <ul class="menu-col">
                            <li><a href="showcase-property.html">Properties List</a></li>
                            <li><a href="showcase-property.html">Single Property</a></li>
                            <li><a href="showcase-property.html">Search by City</a></li>
                            <li><a href="showcase-property.html">Search by Category</a></li>
                            <li><a href="showcase-property.html">Search by Type</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-menu col-md-2">
                        <h5 class="title">Showcase List</h5>
                        <div class="content">
                          <ul class="menu-col">
                            <li><a href="showcase-property.html">Properties List</a></li>
                            <li><a href="showcase-property.html">Single Property</a></li>
                            <li><a href="showcase-property.html">Search by City</a></li>
                            <li><a href="showcase-property.html">Search by Category</a></li>
                            <li><a href="showcase-property.html">Search by Type</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-menu col-md-8">
                        <div class="row">
                          <div id="nav_slider" class="owl-carousel">
                            <div class="item">
                              <div class="image bottom15"> 
                                <img src="images/nav-slider1.jpg" alt="Featured Property"> 
                                <span class="nav_tag yellow text-uppercase">for rent</span>
                              </div>
                              <h4><a href="#.">Park Avenue Apartment</a></h4>
                              <p>Towson London, MR 21501</p>
                            </div>
                            <div class="item">
                              <div class="image bottom15"> 
                                <img src="images/nav-slider2.jpg" alt="Featured Property"> 
                                <span class="nav_tag yellow text-uppercase">for rent</span>
                              </div>
                              <h4><a href="#.">Park Avenue Apartment</a></h4>
                              <p>Towson London, MR 21501</p>
                            </div>
                            <div class="item">
                              <div class="image bottom15"> 
                                <img src="images/nav-slider3.jpg" alt="Featured Property"> 
                                <span class="nav_tag yellow text-uppercase">for rent</span>
                              </div>
                              <h4><a href="#.">Park Avenue Apartment</a></h4>
                              <p>Towson London, MR 21501</p>
                            </div>
                            <div class="item">
                              <div class="image bottom15"> 
                                <img src="images/nav-slider1.jpg" alt="Featured Property"> 
                                <span class="nav_tag yellow text-uppercase">for rent</span>
                              </div>
                              <h4><a href="#.">Park Avenue Apartment</a></h4>
                              <p>Towson London, MR 21501</p>
                            </div>
                            <div class="item">
                              <div class="image bottom15"> 
                                <img src="images/nav-slider2.jpg" alt="Featured Property"> 
                                <span class="nav_tag yellow text-uppercase">for rent</span>
                              </div>
                              <h4><a href="#.">Park Avenue Apartment</a></h4>
                              <p>Towson London, MR 21501</p>
                            </div>
                            <div class="item">
                              <div class="image bottom15"> 
                                <img src="images/nav-slider3.jpg" alt="Featured Property"> 
                                <span class="nav_tag yellow text-uppercase">for rent</span>
                              </div>
                              <h4><a href="#.">Park Avenue Apartment</a></h4>
                              <p>Towson London, MR 21501</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              
              <li class="dropdown">
                <a href="contact-us-3.html" >Contact Us</a>
				
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!--===== #/NAV-BAR =====--> 
</header>
<!--===== #/HEADER =====--> 


<!-- PAGE TITLE -->
<div class="page-title page-main-section parallaxie">
  <div class="container padding-bottom-top-120 text-uppercase text-center">
    <div class="main-title">
      <h1>Listings</h1>
      <h5>10 Years Of Experience!</h5>
      <div class="line_4"></div>
      <div class="line_5"></div>
      <div class="line_6"></div>
      <a href="index.html">home</a>
      <span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
      <a href="listing-1.html">Property Listing</a> 
    </div>
  </div>
</div>
<!-- PAGE TITLE -->


<!-- LISTING STYLE-->
<section id="agent-p-2" class="listing-1 bg_light padding_top">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="uppercase">PROPERTY <span class="color_red">LISTINGS</span></h2>
        <div class="line_1"></div>
        <div class="line_2"></div>
        <div class="line_3"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-sm-12 col-xs-12">
        <form class="findus">
          <div class="row bottom30">
            <div class="col-md-12">
              <div class="single-query">
                  <select class="selectpicker" data-live-search="true">
                    <option class="active">Default Order</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                  </select>
              </div>
            </div>
          </div>
          <div class="row" id="PropertyContainer">
            <div class="col-md-6 col-sm-6">
              <div class="property_item heading_space">
                <div class="image">
                  <img src="images/property-listing-1.jpg" alt="listin" class="img-responsive">
                  <div class="overlay">
                    <div class="centered"><a class="link_arrow white_border" href="property_details_1.html">View Detail</a></div>
                  </div>
                  <div class="feature"><span class="tag">Featured</span></div>
                  <div class="price"><span class="tag">For Sale</span></div>
                  <div class="property_meta">
                    <span><i class="fa fa-object-group"></i>530 sq ft </span>
                    <span><i class="fa fa-bed"></i>2</span>
                    <span><i class="fa fa-bath"></i>1 Bathroom</span>
                  </div>
                </div>
                <div class="proerty_content">
                  <div class="proerty_text">
                    <h3><a href="property_details_1.html">House in New York City</a></h3>
                    <span class="bottom10">Merrick Way, Miami, USA</span>
                    <p><strong>$83,600,200</strong></p>
                  </div>
                  <div class="favroute clearfix">
                    <p class="pull-left"><i class="icon-calendar2"></i> 3 Days ago</p>
                    <ul class="pull-right">
                      <li><a href="#."><i class="icon-video"></i></a></li>
                      <li><a href="#."><i class="icon-like"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="property_item heading_space">
                <div class="image">
                  <img src="images/property-listing-1.jpg" alt="listin" class="img-responsive">
                  <div class="overlay">
                    <div class="centered"><a class="link_arrow white_border" href="property_details_1.html">View Detail</a></div>
                  </div>
                  <div class="feature"><span class="tag">Featured</span></div>
                  <div class="price"><span class="tag">For Sale</span></div>
                  <div class="property_meta">
                    <span><i class="fa fa-object-group"></i>530 sq ft </span>
                    <span><i class="fa fa-bed"></i>2</span>
                    <span><i class="fa fa-bath"></i>1 Bathroom</span>
                  </div>
                </div>
                <div class="proerty_content">
                  <div class="proerty_text">
                    <h3><a href="property_details_1.html">House in New York City</a></h3>
                    <span class="bottom10">Merrick Way, Miami, USA</span>
                    <p><strong>$83,600,200</strong></p>
                  </div>
                  <div class="favroute clearfix">
                    <p class="pull-left"><i class="icon-calendar2"></i> 3 Days ago</p>
                    <ul class="pull-right">
                      <li><a href="#."><i class="icon-video"></i></a></li>
                      <li><a href="#."><i class="icon-like"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="property_item heading_space">
                <div class="property_head text-center">
                  <a href="#.">
                    <h3 class="captlize">The Helux villa</h3>
                  </a>
                  <p class="p-font-15">45 Regent Street, London, UK</p>
                </div>
                <div class="image">
                  <img src="images/property-listing-1.jpg" alt="listin" class="img-responsive">
                  <div class="overlay">
                    <div class="centered"><a class="link_arrow white_border" href="property_details_1.html">View Detail</a></div>
                  </div>
                </div>
                <div class="property_meta">
                  <span><i class="fa fa-object-group"></i>530 sq ft </span>
                  <span><i class="fa fa-bed"></i>2</span>
                  <span><i class="fa fa-bath"></i>1 Bathroom</span>
                </div>
                <div class="proerty_content">
                  <div class="proerty_text">
                    <p><strong>$83,600,200</strong></p>
                  </div>
                  <div class="favroute clearfix">
                    <p class="pull-left"><i class="icon-calendar2"></i> 3 Days ago</p>
                    <ul class="pull-right">
                      <li><a href="#."><i class="icon-video"></i></a></li>
                      <li><a href="#."><i class="icon-like"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="property_item heading_space">
                <div class="property_head default_clr text-center">
                  <a href="#.">
                    <h3 class="captlize p-white ">The Helux villa</h3>
                  </a>
                  <img src="images/listing.png" alt="listin" class="start_tag">
                  <p class="p-font-15 p-white ">45 Regent Street, London, UK</p>
                </div>
                <div class="image">
                  <img src="images/property-listing-2.jpg" alt="listin" class="img-responsive">
                  <div class="price"><span class="tag">For Sale</span></div>
                  <div class="overlay">
                    <div class="centered"><a class="link_arrow white_border" href="property_details_1.html">View Detail</a></div>
                  </div>
                </div>
                <div class="property_meta">
                  <span><i class="fa fa-object-group"></i>530 sq ft </span>
                  <span><i class="fa fa-bed"></i>2</span>
                  <span><i class="fa fa-bath"></i>1 Bathroom</span>
                </div>
                <div class="proerty_content">
                  <div class="proerty_text">
                    <p><strong>$83,600,200</strong></p>
                  </div>
                  <div class="favroute clearfix">
                    <p class="pull-left"><i class="icon-calendar2"></i> 3 Days ago</p>
                    <ul class="pull-right">
                      <li><a href="#."><i class="icon-video"></i></a></li>
                      <li><a href="#."><i class="icon-like"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ul class="pager top40 padding_bottom">
            <li><a href="#.">1</a></li>
            <li class="active"><a href="#.">2</a></li>
            <li><a href="#.">3</a></li>
          </ul>
        </form>
      </div>
      <div class="col-md-4 colsm-4 col-xs-12">
        <div class="property-query-area padding-all20">
          <div class="row">
            <div class="col-md-12">
              <h3 class="text-uppercase  bottom40 top10">Advance <span class="color_red">Search</span></h3>
            </div>
          </div>
          <div class="row">
            <form class="findus">
              <div class="col-md-12">
                <div class="single-query">
                  <input type="text" class="keyword-input" placeholder="Keyword (e.g. 'office')">
                </div>
              </div>
              <div class="col-md-12">
                <div class="single-query">
                    <select class="selectpicker" data-live-search="true">
                      <option selected="" value="any">Location</option>
                      <option>Location - 1</option>
                      <option>Location - 2</option>
                      <option>Location - 3</option>
                      <option>Location - 4</option>
                    </select>
                </div>
              </div>
              <div class="col-md-12">
                <div class="single-query">
                    <select class="selectpicker" data-live-search="true">
                      <option class="active">Property Type</option>
                      <option>Property Type - 1</option>
                      <option>Property Type - 2</option>
                      <option>Property Type - 3</option>
                      <option>Property Type - 4</option>
                    </select>
                </div>
              </div>
              <div class="col-md-12">
                <div class="single-query">
                    <select class="selectpicker" data-live-search="true">
                      <option class="active">Property Status</option>
                      <option>Property Status - 1</option>
                      <option>Property Status - 2</option>
                      <option>Property Status - 3</option>
                      <option>Property Status - 4</option>
                    </select>
                </div>
              </div>
            </form>
          </div>
          <div class="row search-2">
            <form action="#">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <div class="single-query">
                        <select class="selectpicker" data-live-search="true">
                          <option class="active">Min Beds</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                          <option>6</option>
                        </select>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="single-query">
                        <select class="selectpicker" data-live-search="true">
                          <option class="active">Min Baths</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                          <option>6</option>
                        </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <div class="single-query">
                      <input type="text" class="keyword-input" placeholder="Min Area (sq ft)">
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="single-query">
                      <input type="text" class="keyword-input" placeholder="Max Area (sq ft)">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="single-query-slider">
                  <label>Price Range:</label>
                  <div class="price text-right">
                    <span>$</span>
                    <div class="leftLabel"></div>
                    <span>to $</span>
                    <div class="rightLabel"></div>
                  </div>
                  <div data-range_min="0" data-range_max="1500000" data-cur_min="0" data-cur_max="1500000" class="nstSlider">
                    <div class="bar"></div>
                    <div class="leftGrip"></div>
                    <div class="rightGrip"></div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="row">
            <div class="col-md-6 text-center">
              <div class="query-submit-button top30">
                <a href="#." class="btn_fill">Search</a>
              </div>
            </div>
            <div class="col-md-6 text-center">
              <div class="group-button-search">
                <a data-toggle="collapse" href=".search-propertie-filters" class="more-filter">
                  <i class="fa fa-plus text-1 bg-color-yello" aria-hidden="true"></i>
                  <i class="fa fa-minus text-2 hide bg-color-yello" aria-hidden="true"></i>
                  <div class="text-1">more options</div>
                  <div class="text-2 hide">more options</div>
                </a>
              </div>
            </div>
          </div>
          <div class="search-propertie-filters collapse">
            <div class="container-2">
              <div class="row">
                <div class="col-md-12">
                  <div class="search-form-group white">
                    <input type="checkbox" name="check-box" />
                    <span>Washer and Dryer</span>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="search-form-group white">
                    <input type="checkbox" name="check-box" />
                    <span>Balcony</span>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="search-form-group white">
                    <input type="checkbox" name="check-box" />
                    <span>Storage</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h3 class="text-uppercase  bottom40 top40">Recent <span class="color_red">Properties</span></h3>
        <div class="media">
          <div class="media-left media-middle">
            <a href="#.">
            <img class="media-object" src="images/f-p-1.png" alt="image">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><a href="#.">Historic Town House</a></h4>
            <p>45 Regent Street, London, UK</p>
            <a href="#.">$178,600</a>
          </div>
        </div>
        <div class="media">
          <div class="media-left media-middle">
            <a href="#.">
            <img class="media-object" src="images/f-p-2.png" alt="image">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><a href="#.">Historic Town House</a></h4>
            <p>45 Regent Street, London, UK</p>
            <a href="#.">$178,600</a>
          </div>
        </div>
        <div class="media">
          <div class="media-left media-middle">
            <a href="#.">
            <img class="media-object" src="images/f-p-3.png" alt="image">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><a href="#.">Historic Town House</a></h4>
            <p>45 Regent Street, London, UK</p>
            <a href="#.">$178,600</a>
          </div>
        </div>
        <div class="media">
          <div class="media-left media-middle">
            <a href="#.">
            <img class="media-object" src="images/f-p-1.png" alt="image">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><a href="#.">Historic Town House</a></h4>
            <p>45 Regent Street, London, UK</p>
            <a href="#.">$178,600</a>
          </div>
        </div>
        <h3 class="text-uppercase bottom40 top40">Featured <span class="color_red">Properties</span></h3>
        <div id="agent-2-slider" class="owl-carousel">
          <div class="item">
            <div class="property_item">
              <div class="image">
                <a href="#."><img src="images/property-listing-6.jpg" alt="listin" class="img-responsive"></a>
                <div class="feature"><span class="tag-2">For Rent</span></div>
                <div class="price clearfix"><span class="tag pull-right">$8,600 Per Month - <small>Family Home</small></span></div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="property_item">
              <div class="image">
                <a href="#."><img src="images/property-listing-6.jpg" alt="listin" class="img-responsive"></a>
                <div class="feature"><span class="tag-2">For Rent</span></div>
                <div class="price clearfix"><span class="tag pull-right">$8,600 Per Month - <small>Family Home</small></span></div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="property_item">
              <div class="image">
                <a href="#."><img src="images/property-listing-6.jpg" alt="listin" class="img-responsive"></a>
                <div class="feature"><span class="tag-2">For Rent</span></div>
                <div class="price clearfix"><span class="tag pull-right">$8,600 Per Month - <small>Family Home</small></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- LISTING -->


<!-- CONTACT -->
<section id="contact" class="bg-color-red">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12 text-center">
        <div class="get-tuch">
          <i class="icon-telephone114"></i>
          <ul>
            <li><h4>Phone Number</h4></li>
            <li><p>+1 900 234 567 - 68</p></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 text-center">
        <div class="get-tuch">
          <i class="icon-icons74"></i>
          <ul>
            <li><h4>Corporate Office,</h4></li>
            <li><p> No.287, ‘Gaurav Villa’, 15th Cross, 5th Main Rd, 6th Sector, HSR Layout, Bengaluru, Karnataka 560102</p></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 text-center">
        <div class="get-tuch">
          <i class=" icon-icons142"></i>
          <ul>
            <li>
              <h4>Email Address</h4>
            </li>
            <li><a href="#."><p>info@searchhomesindia.com</p></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!--CONTACT-->


<!--FOOTER -->
<footer id="footer" class="footer divider layer-overlay overlay-dark-8">
  <div class="container pt-70 pb-40">
    <div class="row border-bottom">
      <div class="col-sm-6 col-md-3">
        <div class="widget dark"> <img class="mt-5 mb-20" alt="" src="images/1.png"  style="width: 197px;">
          <p> No.287, ‘Gaurav Villa’, 15th Cross, 5th Main Rd, 6th Sector, HSR Layout, Bengaluru, Karnataka 560102</p>
          <ul class="list-inline mt-5">
            <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-theme-color-2 mr-5"></i> <a class="text-gray" href="#.">123-456-789</a> </li>
            <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-theme-color-2 mr-5"></i> <a class="text-gray" href="#.">contact@searchhomesindia.com</a> </li>
            <li class="m-0 pl-10 pr-10"> <i class="fa fa-globe text-theme-color-2 mr-5"></i> <a class="text-gray" href="#.">www.searchhomesindia.com</a> </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="widget dark">
          <h4 class="widget-title">Quick Links</h4>
          <div class="small-title">
            <div class="line1 background-color-white"></div>
            <div class="line2 background-color-white"></div>
            <div class="clearfix"></div>
          </div>
          <ul class="list angle-double-right list-border">
            <li> <a href="#.">Home </a></li>
            <li> <a href="#.">Services </a></li>
            <li> <a href="#.">Pages</a></li>
            <li> <a href="#.">About Us </a></li>
            <li> <a href="#.">Blogs </a></li>
            <li> <a href="#.">Portfolio </a></li>
            <li> <a href="#.">Contact Us </a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="widget dark">
          <h4 class="widget-title ">Use Full Links</h4>
          <div class="small-title">
            <div class="line1 background-color-white"></div>
            <div class="line2 background-color-white"></div>
            <div class="clearfix"></div>
          </div>
          <ul class="list list-border">
            <li><a href="#.">About</a></li>
            <li><a href="#.">News</a></li>
            <li><a href="#.">Testimonials</a></li>
            <li><a href="#.">Typography</a></li>
            <li><a href="#.">Services</a></li>
            <li><a href="#.">Careers</a></li>
            <li><a href="#.">Our team</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="widget dark">
          <h4 class="widget-title">Opening Hours</h4>
          <div class="small-title">
            <div class="line1 background-color-white"></div>
            <div class="line2 background-color-white"></div>
            <div class="clearfix"></div>
          </div>
          <div class="opening-hourse">
            <ul class="list-border">
              <li class="clearfix"> <span> Tue - Sun: </span>
                <div class="value pull-right"> 10.00 am - 8.00 pm </div>
              </li>
              <!-- <li class="clearfix"> <span> Wednes - Thurs :</span>
                <div class="value pull-right"> 8.00 am - 6.00 pm </div>
              </li>
              <li class="clearfix"> <span> Fri : </span>
                <div class="value pull-right"> 3.00 pm - 8.00 pm </div>
              </li> -->
              <li class="clearfix"> <span> Mon : </span>
                <div class="value pull-right"> Closed </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-30">
      <div class="col-md-3 col-sm-4">
        <div class="widget dark">
          <h5 class="widget-title mb-10">Call Us Now</h5>
          <div class="text-gray"> +61 3 1234 5678 <br>
            +12 3 1234 5678 </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4">
        <div class="widget dark">
          <h5 class="widget-title mb-10">Connect With Us</h5>
          <ul class="socials">
            <li><a href="#."><i class="fa fa-facebook"></i></a></li>
            <li><a href="#."><i class="fa fa-twitter"></i></a></li>
            <li><a href="#."><i class="fa fa-youtube"></i></a></li>
            <li><a href="#."><i class="fa fa-instagram"></i></a></li>
            <li><a href="#."><i class="fa fa-pinterest"></i></a></li>
          </ul>
        </div>
      </div>
    <!--   <div class="col-md-6 col-sm-4 text-right">
        <div class="mb20">
          <form class="padding-top-30">
            <input class="search" placeholder="Enter your Email" type="search">
            <a href="#." class="button"><i class="icon-mail-envelope-open"></i></a>
          </form>
        </div>
      </div> -->
    </div>
  </div>
  <div class="footer-bottom bg-black-333">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-5">
          <p class="font-11 text-black-777 m-0 copy-right">Copyright: 2021 <a href="#."><span class="color_red">SEARCH HOMES INDIA</span></a>. All Rights Reserved</p>
        </div>
        <div class="col-md-6 col-sm-7 text-right">
          <div class="widget no-border m-0">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- FOOTER --> 


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">How can <span class="color_red">we help?</span></h2>
      </div>

      <div class="modal-body">

        <p class="bottom40">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

        <div class="short-msg-tab"> 
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Suggestion</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-question-circle-o" aria-hidden="true"></i> Question</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Problems</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><i class="fa fa-comments-o" aria-hidden="true"></i> Feedback</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
              <div class="row">
                <div class="col-md-12"><h3>Suggestion</h3></div>
                <form class="callus padding-bottom" id="contact-form">
                
                  <div class="col-md-12">
                        <div class="single-query">
                            <input class="keyword-input" placeholder="Name" name="name" id="name" type="text">
                        </div>
                  </div>

                   <div class="col-md-12">
                        <div class="single-query">
                            <input class="keyword-input" placeholder="E - mail" name="email" id="email" type="email">
                        </div>
                   </div>

                   <div class="col-md-12">
                        <div class="single-query">
                            <textarea name="message" placeholder="Message" id="message"></textarea>
                        </div>
                   </div>
                </form>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="profile">
              <div class="row">
                <div class="col-md-12"><h3>Question</h3></div>
                <form class="callus padding-bottom" id="contact-form">
                
                  <div class="col-md-12">
                        <div class="single-query">
                            <input class="keyword-input" placeholder="Name" name="name" id="name" type="text">
                        </div>
                  </div>

                   <div class="col-md-12">
                        <div class="single-query">
                            <input class="keyword-input" placeholder="E - mail" name="email" id="email" type="email">
                        </div>
                   </div>

                   <div class="col-md-12">
                        <div class="single-query">
                            <textarea name="message" placeholder="Message" id="message"></textarea>
                        </div>
                   </div>
                </form>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="messages">
              <div class="row">
                <div class="col-md-12"><h3>Problems</h3></div>
                <form class="callus padding-bottom" id="contact-form">
                
                  <div class="col-md-12">
                        <div class="single-query">
                            <input class="keyword-input" placeholder="Name" name="name" id="name" type="text">
                        </div>
                  </div>

                   <div class="col-md-12">
                        <div class="single-query">
                            <input class="keyword-input" placeholder="E - mail" name="email" id="email" type="email">
                        </div>
                   </div>

                   <div class="col-md-12">
                        <div class="single-query">
                            <textarea name="message" placeholder="Message" id="message"></textarea>
                        </div>
                   </div>
                </form>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="settings">
              <div class="row">
                <div class="col-md-12"><h3>Feedback</h3></div>
                <form class="callus padding-bottom" id="contact-form">
                
                  <div class="col-md-12">
                        <div class="single-query">
                            <input class="keyword-input" placeholder="Name" name="name" id="name" type="text">
                        </div>
                  </div>

                   <div class="col-md-12">
                        <div class="single-query">
                            <input class="keyword-input" placeholder="E - mail" name="email" id="email" type="email">
                        </div>
                   </div>

                   <div class="col-md-12">
                        <div class="single-query">
                            <textarea name="message" placeholder="Message" id="message"></textarea>
                        </div>
                   </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="dark_border" data-dismiss="modal">Cancel Message</button>
        <button type="button" class="btn_fill">Send Message</button>
      </div>

    </div>
  </div>
</div>
<!-- #/Modal -->


<!--===== REQUIRED JS =====--> 
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script> 
<script src="{% static 'js/bootstrap.min.js' %}"></script> 
<script src="{% static 'js/bootsnav.js' %}"></script>

<!--To View on scroll-->
<script src="{% static 'js/jquery.appear.js' %}"></script>
 
<!--Owl Slider-->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>

<!--Parallax-->
<script src="{% static 'js/parallaxie.js' %}"></script>

<!--Fancybox-->
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script> 

<!--Cube Gallery-->
<script src="{% static 'js/cubeportfolio.min.js' %}"></script> 

<!--Bootstrap Dropdown-->
<script src="{% static 'js/bootstrap-select.js' %}"></script>

<!--Video Popup-->
<script src="{% static 'js/videobox/video.js' %}"></script>

<!--Datepicker-->
<script src="{% static 'js/datepicker.js' %}"></script> 

<!--Dropzone-->
<script src="{% static 'js/dropzone.min.js' %}"></script>

<!--Wow animation-->
<script src="{% static 'js/wow.min.js' %}"></script>

<!--Rang Slider-->
<script src="{% static 'js/range-Slider.min.js' %}"></script> 

<!--Checkbox-->
<script src="{% static 'js/selectbox-0.2.min.js' %}"></script> 

<!--Checkbox-->
<script src="{% static 'js/scrollreveal.min.js' %}"></script> 

<!--Checkbox-->
<script src="{% static 'js/jquery-countTo.js' %}"></script> 

<!--Checkbox-->
<script src="{% static 'js/jquery.typewriter.js' %}"></script> 

<!--Checkbox-->
<script src="{% static 'js/death.min.js' %}"></script>

<!--Revolution Slider-->
<script src="{% static 'js/themepunch/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'js/themepunch/jquery.themepunch.revolution.min.js' %}"></script>   
<script src="{% static 'js/themepunch/revolution.extension.layeranimation.min.js' %}"></script> 
<script src="{% static 'js/themepunch/revolution.extension.navigation.min.js' %}"></script> 
<script src="{% static 'js/themepunch/revolution.extension.parallax.min.js' %}"></script> 
<script src="{% static 'js/themepunch/revolution.extension.slideanims.min.js' %}"></script> 
<script src="{% static 'js/themepunch/revolution.extension.video.min.js' %}"></script>

<!--Custom Js -->
<script src="{% static 'js/functions.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>


<!--Maps & Markers-->
<script src="{% static 'js/form.js' %}"></script> 
<script src="{% static 'js/custom-map.js' %}"></script> 
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAOBKD6V47-g_3opmidcmFapb3kSNAR70U"></script>
<script src="{% static 'js/gmaps.js' %}"></script>
<script src="{% static 'js/contact.js' %}"></script>
<!--===== #/REQUIRED JS =====-->

</body>
</html>


